Logslogs.lognpm-debug.logyarn-debug.log*yarn-error.log*Runtime datapids*.pid*.seed*.pid.lockDependency directoriesnode_modules/jspm_packages/TypeScript cache*.tsbuildinfoOptional npm cache directory.npmOptional eslint cache.eslintcacheOptional REPL history.node_repl_historyOutput of 'npm pack'*.tgzYarn Integrity file.yarn-integritydotenv environment variable files.env.env.test.env.productionParcel-bundler cache (if used).cache.parcel-cacheNext.js build output.nextoutNuxt.js build output.nuxtdistGatsby files.cache/Comment in the public line in if your project uses Gatsby and not Next.jshttps://www.google.com/search?q=https://nextjs.org/blog/next-9-1%23public-directory-supportpublicVuepress build output.vuepress/distServerless directories.serverless/FuseBox cache.fusebox/DynamoDB Local files.dynamodb/TernJS port file.tern-portMac OS Store file.DS_Store
